.dark-mode {
  background-color: #232222;
  color: #fff;
}

.app {
  min-height: 100vh; /* Ensure the div fills at least the viewport height */
}


.btn-light-mode {
  background-color: #007bff;
  color: #ffffff;
}

.btn-dark-mode {
  background-color: #343a40;
  color: #ffffff;
}
